<!DOCTYPE html>
<html>

<head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body class="body">
    <div class="container-fluid">
        <header>
            <div>
                <h1>Tic Tac Toe</h1>
                <p>Hey there, Ticky Here !
                    <br> I've trained myself to play tic tac toe by studying thousands of games.</p>
                <p>Think you can beat me? Give it a try.</p>
            </div>
            <div class="dropdown-wrapper">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Training model <span id="model-label"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/?trainTime=30sec">30 seconds</a>
                    <a class="dropdown-item" href="/?trainTime=2min">2 minutes</a>
                    <a class="dropdown-item" href="/?trainTime=90min">90 minutes</a>
                  </div>
                </div>
            </div>
        </header>

        <div class="game">
            <div class="canvas">
                <div class="canvas-container">
                    <canvas id="myCanvas" width="300" height="300">
                        Canvas is not supported by your browser
                    </canvas>
                </div>
            </div>
            <div class="options">
                <button type="button" class="btn btn-success myOptions" id="ai_btn">Ticky Plays First</button></br>
                <button type="button" class="btn btn-primary myOptions" id="human_btn">I'll Play First</button>
                <div class="radio myOptions">
                    <label><input type="radio" name="art" value="O" checked="checked" > O</label>
                    <label><input type="radio" name="art" value="X"/> X</label>
                </div>
            </div>
        </div>
        <div class="status-pl">
            <h2 id="status"></h2>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>